body {
  margin: 0;
}

.container {
  display: grid;
  min-height: 100vh;
}

.nav {
  height: 50px;
  background: rebeccapurple;
}

.aside {
  background: forestgreen;

}

.main {
  text-align: center;
}

.footer {
  height: 100px;
  background: midnightblue;
}
